@import '../../scss/all';

.api-viewer-component {
  @include dimension(100vw, auto);
  background-color: $color5;
  padding-bottom: 20px;
  min-height: calc(100vh - 20px);

  .api-viewer-content {
    padding: 0 40px;
  }
}
