$color1: #c98dd4;
$color2: #6a1b9a;
$color3: #EBEBEB;
$color4: #646466;
$color5: #F0F0F0;
$color6: #ECECEC;
$color7: #3D3D3D;
$color8: #12296D;
$color9: #EEEEEE;
$color10: #4A4A4A;
$color11: #CEE5EC;
$color12: #66AFC5;
$color13: #CCCCCC;
